<div class="list-container">
  <div multi="true" *ngIf="listings.length > 0">
    <div class="card" *ngFor="let listing of listings">
      <div class="title">
        {{ listing.title }}
      </div>
      <p>{{ listing.content }}</p>
      <ul>
        <li style="padding: 5px;">List Price: ${{ listing.price }}</li>
        <li style="padding: 5px;">Address: {{ listing.address }}</li>
        <li style="padding: 5px;">Residence Type: {{ listing.residenceType }}</li>
        <li style="padding: 5px;">Year Built: {{ listing.yearBuilt }}</li>
        <li style="padding: 5px;">Square Footage: {{ listing.sqFeet }}</li>
        <li style="padding: 5px;">Price/sqft: ${{ listing.pricePerSqFeet }}</li>
      </ul>

      <div>
        <a class="edit" [routerLink]="['/edit', listing.id]" mat-button color="primary"
          >EDIT</a
        >
        <button class="delete" mat-button color="warn" (click)="onDelete(listing.id)">
          DELETE
        </button>
      </div>
    </div>
  </div>
  <p class="info-text mat-body-1" *ngIf="listings.length <= 0">
    No listings added yet!
  </p>
</div>
